<div class="btn-group mb-2" role="group">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="filterCat(undefined)"
      [ngClass]="{ active: bs.selectedCategory == undefined }"
    >
      Tutti
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary"
      *ngFor="let c of vociMenu"
      [ngClass]="{ active: bs.selectedCategory == c }"
      (click)="filterCat(c)"
    >
      {{c.title}}
    </button>
  </div>
  <ul class="list-group">
      <li class="list-group-item" *ngFor="let p of Listaposts" >
        <app-post-singolo [post]="p"></app-post-singolo>
      </li>
    </ul>
